

.button {
    text-align: center;
}

#game {
   text-align: center;
   display: block;
}

.choices {
    text-align: center;
    margin-bottom: 20px;
}

#results {
    text-align: center;
    font-weight: bold;
}

#question {
    text-align: center;
    font-weight: bold;
}

#gameRow {
    justify-content: center;
    height: 250px;
}

.messageDiv {
    font-weight: bold;
    margin-bottom: 20px;
}

#jumbotron {
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 30px;
    background-color: #271d1c;
    color: white;
}

#words {
    margin-top: 100px;
    font-size: 70px;
    font-weight: bold;
}

#gifArea {
    margin-bottom: 8px;
    text-align: center;
}

#styleRow {
    margin-bottom: -55px;
}

.option {
    margin-right: 15px;
}

