
.button {
    text-align: center;
}

#game {
    text-align: center;
}

.choices {
    text-align: center;
    margin-bottom: 20px;
}

#results {
    text-align: center;
}

#question {
    text-align: center;
    font-weight: bold;
}

#gameRow {
    margin: 0 auto;
}